# Python & OS Temp Files
__pycache__/
*.pyc
.DS_Store
Thumbs.db
System Volume Information/
cloud_nas_error.log
cloud_nas_gui_error.log

# Rclone Local Binaries
rclone
rclone.exe
mac/rclone
windows/rclone.exe

# Local Mount Configuration Cache
active_user_mount.json
temp_*.json
